<div class='search-filter'>
    <div class='input-group'>
        <input type='text' class='form-control' placeholder='Filter' ng-model='searchText'>
        <div class="input-group-addon">
            <span ng-show='countries'>{{(countries | filterBy: ['name', 'iso']: searchText).length}}/{{countries.length}}</span>
        </div>
    </div>
</div>

<ul class='media-list'>
    <li class='media' ng-repeat="country in countries | filterBy: ['name', 'iso']: searchText">
		<div class='media-left'>
            <img src='assets/img/flags/{{country.iso}}.png' width='50' title='{{state.motto}}'/>
        </div>
		<div class='media-body'>
            <b class='title'>
                {{country.name}} ({{country.iso}} &bull; {{country.iso3}})
            </b>
                
		    <div>
		        <b style='color: #2c2'>size</b>: {{country.sqkm | number : 0}} sq km &nbsp;
 		        <b style='color: #2c2'>people</b>: {{country.people | number : 0}} mil ({{country.people / country.sqkm | number : 1}} / sq km)<br />
		        <b style='color: #2c2'>GDP</b>: {{country.gdp | number : 0}} ??? &nbsp;
 		        <b style='color: #2c2'>tel</b>: {{country.prefix}}
           </div>
        </div>
    </li>
</ul>
