<div class='search-filter'>
    <div class='input-group'>
        <input type='text' class='form-control' placeholder='Filter' ng-model='searchText'>
        <div class="input-group-addon">
            <span ng-show='states'>{{(states | filterBy: ['state', 'capital', 'city']: searchText).length}}/{{states.length}}</span>
        </div>
    </div>
</div>

<ul class='media-list'>
    <li class='media' ng-repeat="state in states | filterBy: ['state', 'capital', 'city']: searchText">
		<div class='media-left'>
            <img src='img/USflags/{{state.abbrev}}.png' width='100' title='{{state.motto}}'/>
        </div>
		<div class='media-body'>
            <b class='title'>
                {{state.state}} ({{state.abbrev}})
            </b> &nbsp; <i>{{state.nick}}</i>
                
		    <div>
				<i>{{state.capital}}</i> &bull; {{state.city}}<br />
		        <b style='color: #2c2'>size</b>: {{state.size | number : 0}} sq mi &nbsp;
 		        <b style='color: #2c2'>people</b>: {{state.people | number : 0}} ({{state.people / state.size | number : 1}} / sq mi)<br />
				{{state.bird}} &bull; {{state.tree}} &bull; {{state.flower}}
           </div>
        </div>
    </li>
</ul>
