<!--
<div class='search-filter'>
    <div class='input-group'>
        <input type='text' class='form-control' placeholder='Filter' ng-model='searchText'>
        <div class="input-group-addon">
            <span ng-show='states'>{{(states | filterBy: ['state', 'capital', 'city']: searchText).length}}/{{states.length}}</span>
        </div>
    </div>
</div>  -->

<ul class='media-list'>
    <li class='media' ng-repeat="state in states | filterBy: ['state', 'capital', 'city']: searchText">
		<div class='media-left'>
            <a ng-href='#!/detail/123'>
                <img src='../pix/flags/{{state.abbrev}}.png' width='100'/>
            </a>
        </div>
		<div class='media-body'>
            <b class='title'>
                {{state.state}} ({{state.abbrev}})
            </b>
                <i>{{state.capital}}</i> / {{state.city}}
		    <div>
		        <b style='color: #44f'>size</b>: {{state.size | number : 0}} sq miles,
 		        <b style='color: #44f'>people</b>: {{state.people | number : 0}} ({{state.people / state.size | number : 1}} / sq mile)<br />
				<i>{{state.nick}}</i><br />
				{{state.bird}}; {{state.tree}}; {{state.flower}}
           </div>
        </div>
    </li>
</ul>
