.male-color {color: #22f}
.female-color {color: #f22}

.mg-tag {
    line-height: 18px;
    height: 18px;
    margin: 0 5px 0 0;
    padding: 0 6px;
	background-color: #fee;
    border-radius: 16px;
    display: inline-block;
}

.mg-search-info {
    line-height: 18px;
    height: 18px;
    margin: 0 5px 0 0;
    padding: 0 6px;
	background-color: #fff;
    display: inline-block;
}

.mg-label {
    line-height: 18px;
    height: 18px;
    margin: 0 5px 0 0;
    padding: 0 6px;
    border-radius: 8px;
    display: inline-block;
    width: 40px;
    text-align: center;
    background-color: #88f;
    color: white;
}

input.searchError {
    color: red !important;
}

div.search-filter {
    margin-bottom: 10px;
}

/* Person Info */
ul.pinfo-list {
    padding-left: 10px;
}
ul.pinfo-list li {
    list-style: none;
}

.mg-section {
	margin-top: 4px
}

.mg-title {
    color: #080;
	background-color: #fff;
	padding: 0px 4px;
}
