<style>
    label {width: 68px}
    div.form-group input {width: 95%}
	input {padding-left: 2px}
</style>

<div class='modal-header'>
    <h3 ng-bind='modalOptions.title'></h3>
</div>

<div class='modal-body'>
	<div class='form-group'>
		<div style='width:47%; display: inline-block'>
			<label for='InFname'>First Name</label>
			<input type='text' ng-model='modalOptions.contact.fname' id='InFname' placeholder='first name'/>
		</div>
		<div style='width:50%; display: inline-block'>
			<label for='InNick'>Nick</label>
			<input type='text' ng-model='modalOptions.contact.nick' id='InNick' placeholder='nick name'/>
		</div>
	</div>

	<div class='form-group'>
		<div style='width:66%; display: inline-block'>
			<label for='InLname'>Last Name</label>
			<input type='text' ng-model='modalOptions.contact.lname' id='InLname' placeholder='last name'/>
		</div>
		<div style='width:30%; display: inline-block'>
			<label for='InBorn'>Born</label>
			<input type='date' ng-model='modalOptions.contact.born' id='InBorn' placeholder='mm-dd-yyyy'/>
		</div>
	</div>

	<div class='form-group'>
		<label for='InPix'>Head Shot</label>
		<input id='InPix' type='text' ng-model='modalOptions.contact.pix' placeholder='file name of contact headshot'/>
	</div>
	
	<div class='form-check form-check-inline'>
		<label for='InSex'>Gender</label>
		<input type='radio' id='InSex' class='validate' ng-model='modalOptions.contact.sex' value='Male'/> Male
		<input type='radio' id='InSex' class='validate' ng-model='modalOptions.contact.sex' value='Female'/> Female
	</div>
	<div class='form-group'>
		<label for='InTags'>Tags</label>
		<input id='InTags' type='text' ng-model='modalOptions.contact.tags' placeholder='uHHS ePB aELM nFOX rDiG oNXT'/>
	</div>
</div>

<div class='modal-footer'>
    <button type='button' class='btn' data-ng-click='modalOptions.close()'>
        Cancel
    </button>
    <button class='btn btn-primary' data-ng-click='modalOptions.ok(modalOptions.group)'>
        {{modalOptions.actionButtonText}}
    </button>
</div>