<div class="search-filter">
    <form>
        <div class="input-group" style='margin-top:5px'>
            <input type="text"
                   class="form-control"
                   ng-class="{'searchError': nc.customSearchError}"
                   ng-change="nc.customSearchError=false"
                   ng-model="nc.customSearchCriteria" placeholder="Search ..."
                   spellcheck="false"
                   title='note: org: rel[ation]: info: ginfo: email: url: last: first: ph: sp[ouse]: st[ate]: city: tag: str[eet]:'/>
            <span class="input-group-btn">
                <button class="btn btn-flat" id="search-btn" name="search" ng-click="customSearch()" onclick="return false;" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
</div>

<div class="search-filter">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Filter" ng-model="searchText">
        <div class="input-group-addon">
            <span ng-show="contacts">{{(contacts | filterBy: ['fname', 'lname', 'nick', 'tags']: searchText).length}}/{{contacts.length}}</span>
        </div>
    </div>
</div>

<ul class="media-list">
    <li class="media" ng-repeat="contact in contacts | filterBy: ['fname', 'lname', 'nick', 'tags']: searchText">
		<div class="media-left">
            <a ng-href="#!/detail/{{contact.pid}}">
                <contact-image contact='contact' size='thumb'></contact-image>
            </a>
        </div>
		<div class="media-body">
            <b class="title" ng-class="{'male-color': contact.sex.toUpperCase() == 'M', 'female-color': contact.sex.toUpperCase() == 'F'}">
                {{contact.fname}} {{contact.lname}}
                <i ng-if='contact.nick'> &raquo; {{contact.nick}}</i>
            </b>
            <nl-linked-in fname='contact.fname' lname='contact.lname'></nl-linked-in>
		    <div>
                {{contact.born | bornFilter}}
		        <contact-tags contact='contact'></contact-tags>
            </div>
		    <div ng-if='contact.info'>
                <span class='mg-search-info'>{{contact.info}}</span>
            </div>
        </div>
    </li>
</ul>
