<ul class='media-list' ng-if='contact'>
    <li class='media'>
		<div class='media-left'>
			<contact-image contact='contact' size='small'></contact-image>
		</div>

		<div class='media-body'>
			<b class="title" ng-class="{'male-color': contact.sex.toUpperCase() == 'M', 'female-color': contact.sex.toUpperCase() == 'F'}">
				{{contact.fname}} {{contact.lname}}
				<i ng-if='contact.nick'> &raquo; {{contact.nick}}</i>
			</b>
			<div style='padding-top: 3px'>
			<nl-linked-in fname='contact.fname' lname='contact.lname'></nl-linked-in>
			<nl-clemson fname='contact.fname' lname='contact.lname'></nl-clemson>
			<nl-google fname='contact.fname' lname='contact.lname'></nl-google>
			<nl-my-life fname='contact.fname' lname='contact.lname'></nl-my-life></div>

			<div style='padding-top: 3px'>{{contact.born | bornFilter}}</div>
			<div style='padding-top: 3px'><contact-tags contact='contact'></contact-tags></div>

		</div>
    </li>
</ul>

<contact-info details='details' contact='contact'></contact-info>


<div ng-repeat="group in groups | orderBy: '-mdate' ">
	<div  class='mg-section' ng-class-odd="'mg-section-odd'" ng-class-even="'mg-section-even'">
		<div title='edit {{group.type}}; updated {{group.mdate | ageFilter}} years ago'><b class='mg-title'>{{group.type}}:</b> {{group.org}}
			<span ng-if='group.cnt > 1'> ({{group.cnt}})</span>
		</div>
		<div ng-if='group.relation && group.relation != "h"'><b>title</b>: {{group.relation}}</div>
		<div ng-if='group.street'>{{group.street}}</div>

		<div ng-if='group.city'>{{group.city}}, {{group.state}} {{group.zip}} {{group.country}}</div>
		<a href='http://www.google.com/maps/place/{{group.street}} {{group.city}} {{group.state}} {{group.zip}} {{group.country}}' target='_blank'>
			<img src='assets/img/pix/map-pin.png' alt='map' title='map location'/>
		</a>

		<contact-info details='group.details' contact='contact' group='group'></contact-info>
	</div>
</div>

<div class='mg-label-long clickable' ng-click="showCreateGroupModal()" title='add Group'>
	<b><i class="fa fa-plus"></i> Add Group</b>
</div>

<div ng-repeat="note in notes | orderBy: '-mdate' ">
	<div class='mg-note' title='edit Note'><b class='mg-title'>{{note.mdate}}:</b> {{note.note}}</div>
</div>

<div class='mg-label-long clickable' ng-click="showCreateNoteModal()" title='add Note'>
	<b><i class="fa fa-plus"></i> Add Note</b>
</div>
