<ul class='pinfo-list'>
    <li ng-repeat="detail in details | orderBy: 'type' " ng-switch='detail.type'>
        <!-- Tag Labels -->
        <div class='mg-label' title='edit {{detail.type}}; updated {{detail.mdate | ageFilter}} years ago'>
            <b ng-bind='detail.type' ng-click="showEditDetailModal(detail)"></b>
        </div>

        <!-- Tag Value -->
        <b>
            <a ng-switch-when='url' ng-href='http://{{detail.info}}' target='_blank' ng-bind='detail.info'></a>
            <a ng-switch-when='eml' ng-href='mailto:{{detail.info}}' target='_blank' ng-bind='detail.info'></a>
            <a ng-switch-when='cph~wph~hph' ng-switch-when-separator='~' ng-href='tel:{{detail.info}}' target='_blank' ng-bind='detail.info'></a>
            <span ng-switch-when='wed' ng-bind='detail.info | bornFilter'></span >
            <span ng-switch-default ng-bind='detail.info'></span>
        </b>
        <i ng-if='detail.areacode' style='display: inline-block; text-overflow: clip'>{{detail.areacode}}</i>
    </li>

    <!-- Add New Detail Button -->
    <li>
        <div class='mg-label-long clickable' ng-click="showCreateDetailModal()" title='add detail'>
            <b><i class="fa fa-plus"></i> Add Detail</b>
        </div>
    </li>
</ul>
