.male-color {color: #22f}
.female-color {color: #f22}

div.search-bar {
    margin-left: 10px;
    margin-right: 15px;
}

div.search-bar input {
    margin-bottom: 0px;
}

.search-input input {
    width: inherit;
}
