.male-color {color: #22f}
.female-color {color: #f22}

.mg-tag {
    line-height: 18px;
    height: 18px;
    margin: 0 5px 0 0;
    padding: 0 6px;
	background-color: #fee;
    border-radius: 16px;
    display: inline-block;
}
.media-object {
	width: 48px;
	border-radius: 10%;
}
.media {
	line-height: 1;
	margin: 2px 10px;
}

input.searchError {
    color: red !important;
}

div.search-filter {
    margin-bottom: 10px;
}

/* Person Info */
ul.pinfo-list {
    padding-left: 10px;
}
ul.pinfo-list li {
    list-style: none;
}