<ul class="media-list" ng-if="contact">
    <li class="media">
		<div class="media-left">
			<contact-image contact="contact"></contact-image>
		</div>

		<div class="media-body">
			<b class="title" ng-class="{'male-color': contact.sex.toUpperCase() == 'M', 'female-color': contact.sex.toUpperCase() == 'F'}">
				{{contact.fname}} {{contact.lname}}
				<i ng-if='contact.nick'> &raquo; {{contact.nick}}</i>
			</b>

			<linked-in fname="contact.fname" lname="contact.lname"></linked-in>

			<div>
				{{contact.born | bornFilter}}
				<contact-tags contact="contact"></contact-tags>
			</div>
		</div>
    </li>
</ul>

<pinfo details="details"></pinfo>
