<ul class="media-list">
    <li class="media">
		<div class="media-left">
			<img ng-src="pix/{{contact.pix}}" class="media-object" onerror="this.src='pix/naPhoto.gif'" alt="person photo" title='{{contact.cdate | date}} &Delta; {{contact.mdate | date}}'/>
		</div>

		<div class="media-body">
			<b class="title" ng-class="{'male-color': contact.sex.toUpperCase() == 'M', 'female-color': contact.sex.toUpperCase() == 'F'}">
				{{contact.fname}} {{contact.lname}}
				<i ng-if='contact.nick'> &raquo; {{contact.nick}}</i>
			</b>

			<linked-in fname="contact.fname" lname="contact.lname"></linked-in>

			<div>
				{{contact.born | bornFilter}}
				<i ng-if='contact.tags'>
					<div class='mg-tag' ng-repeat="tag in contact.tags.split(';')">{{tag}}</div>
				</i>
			</div>
		</div>
    </li>
</ul>
<ul class="media-list">
    <li class="media" ng-repeat="detail in details | orderBy: 'type' ">
		<div class="media-body">
			<b title='{{detail.mdate | ageFilter}}' class='mg-tag'>{{detail.type}}</b>{{detail.info}}
		</div>
    </li>
</ul>