<ul class="media-list">
    <li class="media">
		<div class="media-left">
			<img ng-src="pix/{{contact.pix}}" class="media-object" onerror="this.src='pix/naPhoto.gif'" alt="person photo" title='{{contact.cdate | date}} &Delta; {{contact.mdate | date}}'/>
		</div>

		<div class="media-body">
			<b class="title" ng-class="{'male-color': contact.sex.toUpperCase() == 'M', 'female-color': contact.sex.toUpperCase() == 'F'}">
				{{contact.fname}} {{contact.lname}}
				<i ng-if='contact.nick'> &raquo; {{contact.nick}}</i>
			</b>

			<a href='https://www.linkedin.com/vsearch/f?keywords={{contact.fname.substr(0,contact.fname.indexOf(" "))}}+{{contact.lname}}&search=Search' target='_blank'>
				<img src='pix/icons/linkedin.gif'/>
			</a>

			<div>
				{{contact.born | bornFilter}}
				<i ng-if='contact.tags'>
					<div class='mg-tag' ng-repeat="tag in contact.tags.split(';')">{{tag}}</div>
				</i>
			</div>
		</div>
    </li>
</ul>
<ul class="media-list">
    <li class="media" ng-repeat="detail in details | orderBy: 'type' ">
		<div class="media-body">
			<b title='{{detail.mdate | ageFilter}}' class='mg-tag'>{{detail.type}}</b>{{detail.info}}
		</div>
    </li>
</ul>