.male-color {color: #22f}
.female-color {color: #f22}

.mg-tag {
    line-height: 18px;
    height: 18px;
    margin: 0 5px 0 0;
    padding: 0 6px;
	background-color: #fee;
    border-radius: 16px;
    display: inline-block;
}

.mg-search-info {
    line-height: 18px;
    height: 18px;
    margin: 0 5px 0 0;
    padding: 0 6px;
	background-color: #fff;
    display: inline-block;
}

div.mg-label {
    line-height: 18px;
    height: 18px;
    margin: 0 5px 0 0;
    padding: 0 6px;
    border-radius: 8px;
    display: inline-block;
    width: 40px;
    text-align: center;
    background-color: #8ff;
}

div.mg-label a {
    color: white;
}
div.mg-label-long {
    line-height: 22px;
    height: 22px;
    margin: 4px 0;
    padding: 2px 6px;
    border-radius: 8px;
    display: inline-block;
    width: 100px;
    text-align: center;
    background-color: #8ff;
}

div.mg-label-add {
    line-height: 18px;
    height: 18px;
    margin: 0 5px 0 0;
    padding: 0 6px;
    border-radius: 4px;
    display: inline-block;
    width: 60px;
    text-align: center;
    background-color: #44f;
}

div.mg-label-add a {
    color: white;
	font: bold 13pt Arial;
}

input.searchError {
    color: red !important;
}

div.search-filter {
    margin-bottom: 10px;
}

/* Person Info */
ul.pinfo-list {
    padding-left: 10px;
	margin-bottom: 0
}
ul.pinfo-list li {
    list-style: none;
}

.mg-section {
	margin-top: 4px;
	padding: 6px;
}
.mg-section-odd {
	background-color: #afc;
}
.mg-section-even {
	background-color: #dfd;
}

.mg-title {
    color: #080;
	background-color: #fff;
	padding: 0 4px;
}
.mg-note {
	margin-top: 4px;
    white-space: pre-line;
	background-color: #8df;
	padding: 4px 8px;
}
