<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">person</i>
        <input id="fname_input" type="text" class="validate" ng-model="contact.fname">
        <label for="fname_input">First Name</label>
    </div>
    <div class="input-field col s12">
        <i class="material-icons prefix">perm_identity</i>
        <input id="lname_input" type="text" class="validate" ng-model="contact.lname">
        <label for="lname_input">Last Name</label>
    </div>
    <div class="input-field col s12">
        <i class="material-icons prefix">today</i>
        <input id="born_input" type="date" class="validate" ng-model="contact.born">
        <label for="born_input">Born</label>
    </div>
    <div class="input-field col s12">
        <i class="material-icons prefix">tag_faces</i>
        <input id="nick_input" type="text" class="validate" ng-model="contact.nick">
        <label for="nick_input">Nick</label>
    </div>
    <div class="input-field col s12">
        <i class="material-icons prefix">wc</i>
        <input id="sex_input" type="text" class="validate" ng-model="contact.sex">
        <label for="sex_input">Gender</label>
    </div>
    <div class="input-field col s12">
        <i class="material-icons prefix">label</i>
        <input id="tags_input" type="text" class="validate" ng-model="contact.tags">
        <label for="tags_input">Tags</label>
    </div>
</div>
