<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="name_input" type="text" class="validate" ng-model="contact.name">
        <label for="name_input">Name</label>
    </div>
    <div class="input-field col s12">
        <i class="material-icons prefix">work</i>
        <input id="job_input" type="text" class="validate" ng-model="contact.job">
        <label for="job_input">Job</label>
    </div>
    <div class="input-field col s12">
        <i class="material-icons prefix">phone</i>
        <input id="phone_input" type="tel" class="validate" ng-model="contact.phone">
        <label for="phone_input">Telephone</label>
    </div>
    <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input id="email_input" type="email" class="validate" ng-model="contact.email">
        <label for="email_input">Email</label>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        Materialize.updateTextFields();
    });
</script>